.acf-repeater .acf-row-handle.order {
    background: #e14d43 !important;
    border-color: #ffffff !important;
    color: #fff !important;
}

.acf-tab-button {
    background: #b27b76 !important;
    border-color: #ffffff !important;
    color: #fff !important;
}

.active .acf-tab-button {
    background: #e14d43 !important;
    border-color: #ffffff !important;
    color: #fff !important;
}