.btn-def {
    white-space: normal;
}

.mb-110 {
    margin-bottom: 110px;
}

.btn-def {
    outline-style: none;
    border: none;
}

.error {
    border: 1px solid #aa0d2d;
}
.error-btm {
    border-bottom: 1px solid #aa0d2d;
}

.error-wrapper {
    color: #aa0d2d;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .mb-110 {
        margin-bottom: 50px;
    }
}

.vacancy-item_full {
    width: 100% !important;
}